/* body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.container_cs
{
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    /* background: linear-gradient(0deg, #b8ff2e, #2ea8ff); */
    background: linear-gradient(0deg, #A1E3D8, #3BACB6);
    background-attachment: fixed;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}

.container_cs .card_cs
{
    position: relative;
    height: 170px;
    background: #fff;
    display: flex;
    width: 30%;
    margin: 10px 30px;
    border-radius: 20px;
    padding: 10px 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.congrats
{
    /* background: linear-gradient(45deg, #9191e9, #c2aff0); */
    background-image: url("../images/ballons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #1d1a31;
}

.normal{
    background: #fff;
}

.container_cs .card_cs .imgBx_cs
{
    position: absolute;
    height: 80px;
    width: 60px;
    left: -25px;
    top: calc(50% - 40px);
    /* background: rgba(200,200,200,0.5); */
    /* background: rgba(255, 193, 7, 0.473); */
    background: #F2D388;
    backdrop-filter: blur(20px);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    /* border: 1px solid rgba(200,200,200,0.5); */
    /* border: 1px solid rgba(255, 193, 7, 0.473); */
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s ease-in-out;
}


/* .container_cs .card_cs:hover .imgBx_cs
{
    position: absolute;
    height: 130px;
    width: 150px;
    left: 5px;
    top: calc(50% - 65px);
} */

.container_cs .card_cs .imgBx_cs h1
{
    font-size: 48px;
    z-index: 3;
}

.container_cs .card_cs .content_cs {
    position: absolute;
    right: 0;
    width: calc(100% - 20px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.container_cs .card_cs .content_cs h3
{
    color: #ffc107;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: right;
}

.container_cs .card_cs .content_cs h4
{
    color: #6c757d;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: right;
}

.card_cs .lines
{
    position: absolute;
    inset: 0;
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
}

.card_cs .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    border-radius: 20px;
    background: linear-gradient(transparent, #161D6F, #161D6F, #161D6F, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes pulse
{
    0%
    {
        background: #fff;
    }
    50%
    {
        background: #D7FFFD;
    }
    100%
    {
        background: #fff;
    }
}

.card_cs .lines::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #fff;
    border-radius: 20px;
    animation: pulse 2s infinite;
}

.card_cs .lines2
{
    position: absolute;
    inset: 0;
    overflow: hidden;
    background: #FFF56D;
    border-radius: 20px;
}

.card_cs .lines2::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(transparent, #FFCA03, #F0A500, #FFCA03, transparent);
    animation: animate2 4s linear infinite;
}

@keyframes animate2
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.card_cs .lines2::after
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #FFF56D;
    border-radius: 20px;
}

@media only screen and (max-width: 1366px) {
    .container_cs .card_cs .content_cs h3
    {
        font-size: 14px;
    }
    .container_cs .card_cs .content_cs h4
    {
        font-size: 12px;
    }
}