extends layout
  
block content
 div(class="card mx-auto mt-4" style="width: 25rem;")
  article(class="card-body shadow")
   h4(class="card-title text-center mb-4 mt-1") #{title}
   hr       
   form(id="frm-login" action="/auth" method="post")
    div.form-group.my-2
     div.input-group
      span.input-group-text
       i(class="bi bi-person-fill")
      input(name="user_login" id="user" class="form-control" placeholder="Usuario" type="text")
    div.form-group.my-2
     div.input-group
      span.input-group-text
       i(class="bi bi-lock-fill")
      input(name="pass_login" id="pass" class="form-control" placeholder="******" type="password")
      span.input-group-text
       i(class="bi bi-eye-fill" id="passView")
    div.form-group.my-2
     div(class="d-grid gap-2 my-2")
      button(type="submit" class="btn btn-primary btn-block mx-auto")
       i(class="bi bi-arrow-return-right")
       |  Login  
   // p.text-center
     a(href="#" class="text-danger") Esqueci a Senha!
    p.text-center
     a(href="#" class="text-danger") Nao possui cadastro, clique aqui!
 div.container.my-2#alert

      
