doctype html
html
  head
    title #{title} | GAMMA8
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel='stylesheet' href='./bi/font/bootstrap-icons.css')
    block scripts
     script(src="https://kit.fontawesome.com/2434c0369c.js" crossorigin="anonymous")
     script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
     script(type="text/javascript" src='./bootjs/bootstrap.js')
     script(type="text/javascript" src='/javascripts/scripts.js')
  body
   div.homeView
    nav(class="navbar navbar-expand-lg navbar-dark bg-secondary text-white rounded shadow")
     div(class="navbar-collapse collapse order-2")
       h4(class="mx-auto") #{title}
     div(class="navbar-collapse collapse order-2")
       h4(class="mx-auto") Local IP: #{ip}   
    div(class="container list-group list-group-horizontal my-4")
     a(href="/" class=(title === 'Home' ? "list-group-item list-group-item-action list-group-item-success text-center active" : "list-group-item list-group-item-action list-group-item-success text-center"))
      i(class="bi bi-house-fill")
      |  Home
     a(href="/application" class=(title === 'Application' ? "list-group-item list-group-item-action list-group-item-primary text-center active" : "list-group-item list-group-item-action list-group-item-primary text-center"))
      i(class="bi bi-app-indicator")
      |  Application
     a(href="/db" class=(title === 'Database' ? "list-group-item list-group-item-action list-group-item-warning text-center active" : "list-group-item list-group-item-action list-group-item-warning text-center")) 
      i(class="bi bi-cloud")
      |  Database
     a(href="/about" class=(title === 'About' ? "list-group-item list-group-item-action list-group-item-danger text-center active" : "list-group-item list-group-item-action list-group-item-danger text-center")) 
      i(class="bi bi-question-circle") 
      |  About
    
    block content

    block foot

     div(class="container text-center mb-2 mt-4 sticky-bottom border border-secondary rounded bg-secondary w-25 shadow text-white") New Development
