doctype html
html
  head
    title #{title} | GAMMA8
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    //link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
    block scripts
     script(src="https://kit.fontawesome.com/2434c0369c.js" crossorigin="anonymous")
     script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
     script(type="text/javascript" src='/javascript/bootstrap.js')
  body
   div.homeView
    nav(class="navbar navbar-expand-lg navbar-dark bg-secondary text-white rounded shadow")
     div(class="navbar-collapse collapse order-2")
       h4(class="mx-auto") #{title}
     div(class="navbar-collapse collapse order-2")
       h4(class="mx-auto") Local IP: #{ip}
   if(user !== undefined)    
    div(class="container list-group list-group-horizontal my-4")
     a(href="/home" class=(title === 'Home' ? "list-group-item list-group-item-action list-group-item-success text-center active" : "list-group-item list-group-item-action list-group-item-success text-center") data-toggle="tooltip" data-placement="top" title="Home")
      i(class="fas fa-house")
     a(href="/application" class=(title === 'Application' ? "list-group-item list-group-item-action list-group-item-primary text-center active" : "list-group-item list-group-item-action list-group-item-primary text-center")) Application
     a(href="/req" class=(title === 'Reqs' ? "list-group-item list-group-item-action list-group-item-warning text-center active" : "list-group-item list-group-item-action list-group-item-warning text-center")) Database
     a(href="/about" class=(title === 'About' ? "list-group-item list-group-item-action list-group-item-danger text-center active" : "list-group-item list-group-item-action list-group-item-danger text-center")) About
    
    block content

    block foot

     div(class="container text-center mb-2 mt-4 sticky-bottom border border-secondary rounded bg-secondary w-25 shadow text-white") New Development
   else
    block content

    block foot

     div(class="container text-center mb-2 mt-4 sticky-bottom border border-secondary rounded bg-secondary w-25 shadow text-white") New Development  