doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='./css/bootstrap.min.css') 
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-secondary")
      div(class="navbar-collapse collapse order-2")
       h4(class="mx-auto") #{title}
    div(class="list-group")
     a(href="/about" class="list-group-item list-group-item-action") About
    block content
