extends layout

block content
    div
        input(type="hidden" id="nome" value=`${name}`)
        input(type="hidden" id="ip" value=`${ipaddr}`)
        ul(id="messages" class="list-group")
        form(id="form")
            input(type="text" id="input" autocomplete="off")
            button
                | Enviar
            button#clear
                | Limpar
